.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    /* выше установили ограничения для секции */
    background-color: #f2f2f2;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
    position: absolute;
    top: 64px;
    right: 0px;
    height: 568px;
    width: 568px;
    background-color: #2f80ed;
    z-index: 0;
}


/* и элемента с модификатором вида ключ-значение */

.logo {
    width: 183px;
    height: 32px;
}

.logo_place_header {
    position: absolute;
    top: 30px;
    left: 64px;
}

.logo_place_footer {
    height: 35px;
}

.header__title {
    margin-bottom: 0;
    margin-top: 0;
    max-width: 730px;
    line-height: 96px;
    font-size: 102px;
    font-weight: bold;
    margin-left: 64px;
    position: relative;
    z-index: 2;
}

.header__subtitle {
    position: absolute;
    bottom: 30px;
    left: 64px;
    max-width: 388px;
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    z-index: 2;
}

.header__link {
    color: #2f80ed;
    text-decoration: none;
}

.header__main-illustration {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-size: contain;
    width: 765px;
    height: 608px;
    z-index: 1;
}

.description {
    padding-top: 100px;
}

.two-columns {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 0;
    align-items: stretch;
    width: 80vw;
}

.two-columns__brief {
    max-width: 175px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    color: #2f80ed;
    margin: 0px;
}

.two-columns__main-text {
    max-width: 80%;
    min-width: 784px;
    line-height: 34px;
    font-size: 24px;
}

.two-columns__paragraph {
    display: block;
    margin-top: 30px;
    margin-bottom: 0px;
}

.two-columns__paragraph:first-of-type {
    margin-top: 0;
}

.two-columns__span-accent {
    font-weight: bolder;
}

.digits {
    padding-top: 100px;
    padding-bottom: 100px;
    display: block;
}

.section-title {
    max-width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bolder;
}

.section-subtitle {
    max-width: 60%;
    text-align: center;
    margin: 20px auto 0 auto;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
}

.table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.table__cell {
    width: 250px;
    flex-shrink: 0;
    margin-top: 60px;
}

.table__heading {
    margin: 0px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bolder;
}

.table__text {
    margin: 20px 0 0;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    padding: 0;
}

.feynman {
    position: relative;
    min-height: 890px;
    background: #f2f2f2 url(../images/feynman.png) no-repeat bottom left;
}

.feynman__title {
    padding-top: 100px;
    position: relative;
    max-width: 648px;
    margin: 0 auto;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bolder;
    text-align: center;
}

.feynman__subtitle {
    position: relative;
    margin: 70px auto;
    text-align: center;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    z-index: 2;
}

.feynman__link {
    color: #2f80ed;
    position: absolute;
    top: 50%;
    right: 50px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    z-index: 3;
}

.kaufman {
    overflow: hidden;
    background-color: #1f1f1f;
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    z-index: 1;
}

.table_theme_dark {
    z-index: 2;
}

.table__cell_theme_dark {
    width: 200px;
    margin-right: 0;
    margin-top: 80px;
}

.table__text_theme_dark {
    color: white;
}

.table__header_theme_dark {
    color: white;
}

.kaufman__triangle {
    position: absolute;
    right: -210px;
    top: 0;
    width: 877px;
    height: 877px;
    z-index: -1;
    background-image: url(../images/kaufman-triangle.svg);
}

.section-title_theme_dark {
    position: relative;
    color: white;
    z-index: 2;
}

.section-subtitle_theme_dark {
    position: relative;
    color: white;
    z-index: 2;
}

.footer {
    min-height: 250px;
    background-color: #1f1f1f;
    padding: 60px 0 40px;
    display: flex;
}

.footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto 0;
}

.footer__column {
    color: white;
}

.footer__column_content_copyright {
    position: relative;
    flex-basis: 711px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 18px;
    margin-bottom: 18px;
}

.footer__column_content_info {
    align-items: stretch;
}

.footer__column_content_social {
    align-items: stretch;
}


/* Я случайно ошибся с нижним подчеркиванием */

.footer__column-links {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 16px;
    padding: 0;
    list-style-type: none;
}

.footer__column-link {
    display: block;
    text-decoration: none;
    color: white;
    margin: 0;
}

.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bolder;
    margin: 0px;
}

.footer__social-icon {
    margin-right: 10px;
}